In [1]:
# !pip install requests
# !pip install textblob
# !pip install emoji
# !pip install spacy==3.7.2
# !pip install pydantic==1.9.0
# !python -m spacy download en_core_web_sm

In [2]:
import requests
import json
import ast
import re
import pandas as pd
import string,time
import emoji
import spacy

from textblob import TextBlob
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import word_tokenize

In [3]:
# api_key = "8265bd1679663a7ea12ac168da84d2e8"
# url = "https://api.themoviedb.org/3/movie/top_rated"
# all_movies = []

# # Get total number of pages
# params = {
#     "api_key": api_key,
#     "language": "en-US",
#     "page": 1
# }
# response = requests.get(url, params=params)
# data = response.json()
# total_pages = data.get("total_pages", 1)

# # Loop through all pages
# for page in range(1, total_pages + 1):
#     params["page"] = page
#     res = requests.get(url, params=params)
#     if res.status_code == 200:
#         movies = res.json().get("results", [])
#         all_movies.extend(movies)
#         # print(f"Saved page {page}/{total_pages}")
#     else:
#         print(f"Failed to fetch page {page}")

# # Save to CSV
# df = pd.DataFrame(all_movies)
# df.to_csv("top_rated_movies_all_pages.csv", index=False)

# print(f"âœ… Saved {len(df)} movies from {total_pages} pages.")

In [4]:
df = pd.read_csv('top_rated_movies_all_pages.csv')

In [5]:
df.tail()

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
9995,False,/hKcO8mX9oqfBKlZ8nibJCPSeqMj.jpg,"[28, 12, 53]",1639,en,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,2.7935,/gnK1ocpwUTj24zAktzomOJsD2bu.jpg,1997-06-13,Speed 2: Cruise Control,False,4.609,1674
9996,False,/wpkcvqArMg5YUAPBq7t15Wq5APt.jpg,"[27, 53]",11442,en,Halloween: Resurrection,Reality programmers at DangerTainment select a...,1.9128,/1mlKwbNzJCGzqe4i0ZEJtUUL290.jpg,2002-07-01,Halloween: Resurrection,False,4.607,1303
9997,False,/c6hFzNJIAGT84E6SfuuqEZNJlqH.jpg,[18],13461,it,Melissa P.,"An adolescent girl, living with her mother and...",5.8144,/3fjMLEVozmApiiDF75dnpSIaYZ3.jpg,2005-11-18,Melissa P.,False,4.600,565
9998,False,/7vR0frpPSBhToKKESNfnPfDTY8y.jpg,"[18, 53]",340674,en,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...",2.2477,/bEwK1r4pmJ9huEjqrZf73NXJvFy.jpg,2016-10-12,Dark Crimes,False,4.600,451
9999,False,/eZvVoJc3XrAE81bmNhtyTUDti8b.jpg,"[35, 27, 53]",16780,en,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,2.6221,/e1ikqofvLBddrZJ73IjmJWhUYus.jpg,1995-09-22,The Return of the Texas Chainsaw Massacre,False,4.597,694

In [6]:
df.shape

(10000, 14)

In [7]:
# Only select 3 columns to work with

df = df[['original_title','overview','genre_ids']]

df

,original_title,overview,genre_ids
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,12 Angry Men,The defense and the prosecution have rested an...,[18]
...,...,...,...
9995,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,"[28, 12, 53]"
9996,Halloween: Resurrection,Reality programmers at DangerTainment select a...,"[27, 53]"
9997,Melissa P.,"An adolescent girl, living with her mother and...",[18]
9998,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...","[18, 53]"
9999,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,"[35, 27, 53]"

In [8]:
## Fetching movie genres from other api

# Define API URL
url = "https://api.themoviedb.org/3/genre/movie/list"
params = {
    "api_key": "8265bd1679663a7ea12ac168da84d2e8",
    "language": "en-US"
}

# Make the request
response = requests.get(url, params=params)

# Check if successful
if response.status_code == 200:
    data = response.json()
    genres = data.get('genres', [])
else:
    print(f"Failed to fetch data: {response.status_code}")
    genres = []

genre_mapping = {g['id']: g['name'] for g in genres}

genre_mapping

{28: 'Action',
 12: 'Adventure',
 16: 'Animation',
 35: 'Comedy',
 80: 'Crime',
 99: 'Documentary',
 18: 'Drama',
 10751: 'Family',
 14: 'Fantasy',
 36: 'History',
 27: 'Horror',
 10402: 'Music',
 9648: 'Mystery',
 10749: 'Romance',
 878: 'Science Fiction',
 10770: 'TV Movie',
 53: 'Thriller',
 10752: 'War',
 37: 'Western'}

In [9]:
# merge genre with ids

def get_genre_names(genre_ids):
    genre_names = [genre_mapping.get(int(g_id), "Unknown") for g_id in genre_ids]
    return ', '.join(genre_names)

df['genre_ids'] = df['genre_ids'].apply(ast.literal_eval) 
df['genre_names'] = df['genre_ids'].apply(get_genre_names)

df

,original_title,overview,genre_ids,genre_names
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]","Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","Drama, Crime"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","Drama, Crime"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","Drama, History, War"
4,12 Angry Men,The defense and the prosecution have rested an...,[18],Drama
...,...,...,...,...
9995,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,"[28, 12, 53]","Action, Adventure, Thriller"
9996,Halloween: Resurrection,Reality programmers at DangerTainment select a...,"[27, 53]","Horror, Thriller"
9997,Melissa P.,"An adolescent girl, living with her mother and...",[18],Drama
9998,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...","[18, 53]","Drama, Thriller"
9999,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,"[35, 27, 53]","Comedy, Horror, Thriller"

In [10]:
df['overview'][3].lower()

'the true story of how businessman oskar schindler saved over a thousand jewish lives from the nazis while they worked as slaves in his factory during world war ii.'

## 1. Remove Punctuations

In [11]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
exclude = string.punctuation

def remove_punc(text):
    return text.translate(str.maketrans('', '', exclude))

df['description_corrected'] = df['overview'].apply(remove_punc)

In [13]:
df['description_corrected'][5]

'A young girl Chihiro becomes trapped in a strange new world of spirits When her parents undergo a mysterious transformation she must call upon the courage she never knew she had to free her family'

## 2. Chat Word Treatment

In [14]:
# Open and read the chat_words.txt file
file_path = 'D:/oishee/jobs/2025/NLP/kaggle_movie_review/datasets/slang.txt'

# Create an empty dictionary
chat_words = {}

# Read and process the file
with open(file_path, 'r', encoding='utf-8') as file:
     for line in file:
        if line.strip():
            parts = re.split(r'\s*[:=â€“â€”\-]{1,2}>\s*|\s*[:=â€“â€”\-]\s*', line.strip(), maxsplit=1)
            if len(parts) == 2:
                key, value = parts
                chat_words[key.strip().upper()] = value.strip()

In [15]:
print(list(chat_words.items())[:5])  # Show first 5 key-value pairs

[('AFAIK', 'As Far As I Know'), ('AFK', 'Away From Keyboard'), ('ASAP', 'As Soon As Possible'), ('ATK', 'At The Keyboard'), ('ATM', 'At The Moment')]

In [16]:
def chat_conversion(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

df['description_corrected'] = df['description_corrected'].apply(chat_conversion)

In [17]:
df['description_corrected'][1000]

'Over the course of ten days and 435 miles an unbreakable bond is forged between pro adventure racer Michael Light and a scrappy street dog companion dubbed Arthur As the team is pushed to their outer limits of endurance in the race Arthur redefines what victory loyalty and friendship truly mean'

## 3. Lower Casing

In [18]:
df['description_corrected'] = df['description_corrected'].str.lower()

df

,original_title,overview,genre_ids,genre_names,description_corrected
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]","Drama, Crime",imprisoned in the 1940s for the double murder ...
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","Drama, Crime",spanning the years 1945 to 1955 a chronicle of...
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","Drama, Crime",in the continuing saga of the corleone crime f...
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","Drama, History, War",the true story of how businessman oskar schind...
4,12 Angry Men,The defense and the prosecution have rested an...,[18],Drama,the defense and the prosecution have rested an...
...,...,...,...,...,...
9995,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,"[28, 12, 53]","Action, Adventure, Thriller",a disgruntled former employee hijacks the seab...
9996,Halloween: Resurrection,Reality programmers at DangerTainment select a...,"[27, 53]","Horror, Thriller",reality programmers at dangertainment select a...
9997,Melissa P.,"An adolescent girl, living with her mother and...",[18],Drama,an adolescent girl living with her mother and ...
9998,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...","[18, 53]","Drama, Thriller",tadek a polish detective becomes suspicious of...
9999,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,"[35, 27, 53]","Comedy, Horror, Thriller",after a group of texas teenagers leave prom ni...

## 4. Spelling Correction

In [19]:
# def correct_text(text):
#     try:
#         return (TextBlob(text).correct().astype(str))
#     except:
#         return text

# df['description_corrected'] = df['description_corrected'].apply(correct_text)

In [20]:
df['description_corrected'][5000]

'after telling the story of flints last journey to young jim hawkins billy bones has a heart attack and dies just as jim and his friends are attacked by pirates the gang escapes into the town where they hire out a boat and crew to find the hidden treasure which was revealed by bones before he died on their voyage across the seas they soon find out that not everyone on board can be trusted'

## 5. Removing Stopwords

In [21]:
# import nltk
# nltk.download('stopwords')

In [22]:
print(list(stopwords.words('english')[:5]))  # Show first 5 key-value pairs

['a', 'about', 'above', 'after', 'again']

In [23]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

df['description_corrected'] = df['description_corrected'].apply(remove_stopwords)

In [24]:
df['description_corrected'][9999]

'  group  texas teenagers leave prom night early  get   car crash   woods  employ  aid   nearby insurance agent  calls   tow truckdriving boyfriend vilmer slaughter unfortunately   vilmer   sadistic killer   mechanical leg  introduces    brother leatherface   rest   twisted family'

## 6. Handling Emojis

In [25]:
df['description_corrected'] = df['description_corrected'].apply(emoji.demojize)

df['description_corrected'][9998]

'tadek  polish detective becomes suspicious   controversial author   incidents described   unpublished novel resemble  inner workings   unsolved murder'

## 7. Tokenization

In [26]:
nlp = spacy.load('en_core_web_sm')

df['description_tokenized'] = df['description_corrected'].apply(nlp)

df['description_tokenized']

0       (imprisoned,   , 1940s,   , double, murder,   ...
1       (spanning,  , years, 1945,  , 1955,  , chronic...
2       (  , continuing, saga,   , corleone, crime, fa...
3       ( , true, story,   , businessman, oskar, schin...
4       ( , defense,   , prosecution,  , rested,   , j...
                              ...
9995    ( , disgruntled, former, employee, hijacks,  ,...
9996    (reality, programmers,  , dangertainment, sele...
9997    ( , adolescent, girl, living,   , mother,   , ...
9998    (tadek,  , polish, detective, becomes, suspici...
9999    (  , group,  , texas, teenagers, leave, prom, ...
Name: description_tokenized, Length: 10000, dtype: object

In [27]:
df['description_tokenized'][5000]

 telling  story  flints last journey  young jim hawkins billy bones   heart attack  dies   jim   friends  attacked  pirates  gang escapes   town   hire   boat  crew  find  hidden treasure   revealed  bones   died   voyage across  seas  soon find    everyone  board   trusted

## 8. Stemming

In [28]:
# Initialize the Porter Stemmer
ps = PorterStemmer()

def stem_words(text):
    if not isinstance(text, str):
        return ""
    tokens = word_tokenize(text)
    stems = [ps.stem(word) for word in tokens]
    return " ".join(stems).strip()

In [29]:
df['description_corrected_stemming'] = df['description_corrected'].apply(stem_words)

In [30]:
df['description_corrected_stemming'][5000]

'tell stori flint last journey young jim hawkin billi bone heart attack die jim friend attack pirat gang escap town hire boat crew find hidden treasur reveal bone die voyag across sea soon find everyon board trust'

## Lemmatization

In [31]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

In [32]:
lemmatizer = WordNetLemmatizer()

def lemmatize_text(text):
    if not isinstance(text, str):
        return ""
    tokens = word_tokenize(text)
    lemmatized = [lemmatizer.lemmatize(word) for word in tokens]
    return " ".join(lemmatized)

In [33]:
df['description_corrected_lemmatize'] = df['description_corrected'].apply(lemmatize_text)

df['description_corrected_lemmatize'][10]

'burgerloving hit man philosophical partner drugaddled gangster moll washedup boxer converge sprawling comedic crime caper adventure unfurl three story ingeniously trip back forth tear eye'

In [35]:
df['description_corrected_lemmatize'][5000]

'telling story flint last journey young jim hawkins billy bone heart attack dy jim friend attacked pirate gang escape town hire boat crew find hidden treasure revealed bone died voyage across sea soon find everyone board trusted'

## Cleaning Corpus

In [36]:
df

,original_title,overview,genre_ids,genre_names,description_corrected,description_tokenized,description_corrected_stemming,description_corrected_lemmatize
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"[18, 80]","Drama, Crime",imprisoned 1940s double murder wife lo...,"(imprisoned, , 1940s, , double, murder, ...",imprison 1940 doubl murder wife lover upstand ...,imprisoned 1940s double murder wife lover upst...
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","Drama, Crime",spanning years 1945 1955 chronicle fictio...,"(spanning, , years, 1945, , 1955, , chronic...",span year 1945 1955 chronicl fiction italianam...,spanning year 1945 1955 chronicle fictional it...
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","Drama, Crime",continuing saga corleone crime family you...,"( , continuing, saga, , corleone, crime, fa...",continu saga corleon crime famili young vito c...,continuing saga corleone crime family young vi...
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","Drama, History, War",true story businessman oskar schindler save...,"( , true, story, , businessman, oskar, schin...",true stori businessman oskar schindler save th...,true story businessman oskar schindler saved t...
4,12 Angry Men,The defense and the prosecution have rested an...,[18],Drama,defense prosecution rested jury filing ...,"( , defense, , prosecution, , rested, , j...",defens prosecut rest juri file juri room decid...,defense prosecution rested jury filing jury ro...
...,...,...,...,...,...,...,...,...
9995,Speed 2: Cruise Control,A disgruntled former employee hijacks the Seab...,"[28, 12, 53]","Action, Adventure, Thriller",disgruntled former employee hijacks seabourn...,"( , disgruntled, former, employee, hijacks, ,...",disgruntl former employe hijack seabourn legen...,disgruntled former employee hijack seabourn le...
9996,Halloween: Resurrection,Reality programmers at DangerTainment select a...,"[27, 53]","Horror, Thriller",reality programmers dangertainment select gr...,"(reality, programmers, , dangertainment, sele...",realiti programm dangertain select group thril...,reality programmer dangertainment select group...
9997,Melissa P.,"An adolescent girl, living with her mother and...",[18],Drama,adolescent girl living mother grandmother...,"( , adolescent, girl, living, , mother, , ...",adolesc girl live mother grandmoth first sexua...,adolescent girl living mother grandmother firs...
9998,Dark Crimes,"Tadek, a Polish detective, becomes suspicious ...","[18, 53]","Drama, Thriller",tadek polish detective becomes suspicious c...,"(tadek, , polish, detective, becomes, suspici...",tadek polish detect becom suspici controversi ...,tadek polish detective becomes suspicious cont...
9999,The Return of the Texas Chainsaw Massacre,After a group of Texas teenagers leave prom ni...,"[35, 27, 53]","Comedy, Horror, Thriller",group texas teenagers leave prom night earl...,"( , group, , texas, teenagers, leave, prom, ...",group texa teenag leav prom night earli get ca...,group texas teenager leave prom night early ge...

In [37]:
def cleaned_corpus(doc):
    return [token.text for token in doc if token.text.strip() != '']

df['description_corrected'] = df['description_tokenized'].apply(cleaned_corpus)

In [38]:
df['description_corrected']

0       [imprisoned, 1940s, double, murder, wife, love...
1       [spanning, years, 1945, 1955, chronicle, ficti...
2       [continuing, saga, corleone, crime, family, yo...
3       [true, story, businessman, oskar, schindler, s...
4       [defense, prosecution, rested, jury, filing, j...
                              ...
9995    [disgruntled, former, employee, hijacks, seabo...
9996    [reality, programmers, dangertainment, select,...
9997    [adolescent, girl, living, mother, grandmother...
9998    [tadek, polish, detective, becomes, suspicious...
9999    [group, texas, teenagers, leave, prom, night, ...
Name: description_corrected, Length: 10000, dtype: object

#### How many words are there in the entire corpus?

In [39]:
word_count = df['description_corrected'].apply(lambda x: len(str(x).split())).sum()

word_count

265041

#### Total number of unique words (vocabulary)?

In [40]:
unique_word_count = df['description_corrected'].apply(lambda x: len(str(x).split())).unique().sum()

unique_word_count

4325

## Bag of Words

In [41]:
from sklearn.feature_extraction.text import CountVectorizer

In [42]:
df['description_corpus'] = df['description_corrected'].apply(
    lambda tokens: " ".join(tokens) if isinstance(tokens, list) else ""
)

In [43]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(df['description_corpus'])

In [44]:
df['description_corpus']

0       imprisoned 1940s double murder wife lover upst...
1       spanning years 1945 1955 chronicle fictional i...
2       continuing saga corleone crime family young vi...
3       true story businessman oskar schindler saved t...
4       defense prosecution rested jury filing jury ro...
                              ...
9995    disgruntled former employee hijacks seabourn l...
9996    reality programmers dangertainment select grou...
9997    adolescent girl living mother grandmother firs...
9998    tadek polish detective becomes suspicious cont...
9999    group texas teenagers leave prom night early g...
Name: description_corpus, Length: 10000, dtype: object

In [45]:
# Displaying the Vocabulary and Frequency Counts
print(list(vectorizer.vocabulary_)[:50])

['imprisoned', '1940s', 'double', 'murder', 'wife', 'lover', 'upstanding', 'banker', 'andy', 'dufresne', 'begins', 'new', 'life', 'shawshank', 'prison', 'puts', 'accounting', 'skills', 'work', 'amoral', 'warden', 'long', 'stretch', 'comes', 'admired', 'inmates', 'including', 'older', 'prisoner', 'named', 'red', 'integrity', 'unquenchable', 'sense', 'hope', 'spanning', 'years', '1945', '1955', 'chronicle', 'fictional', 'italianamerican', 'corleone', 'crime', 'family', 'organized', 'patriarch', 'vito', 'barely', 'survives']

In [46]:
print("Feature Names:", vectorizer.get_feature_names_out())

Feature Names: ['00' '006' '007' ... 'Ã©ric' 'Ã¶ztÃ¼rk' 'Ê»ohana']

In [47]:
bow_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

bow_df

,00,006,007,0s,10,100,1000,10000,100000,10000000,...,Ã¡ngel,Ã¡ngela,Ã¦on,Ã©douard,Ã©migrÃ©,Ã©mile,Ã©milie,Ã©ric,Ã¶ztÃ¼rk,Ê»ohana
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
import numpy as np
# Analyzing Word Frequencies
word_counts = np.sum(X.toarray(), axis=0)

array([2, 1, 5, ..., 2, 2, 2], dtype=int64)

In [52]:
word_freq = dict(zip(vectorizer.get_feature_names_out(), word_counts))
print("Word Frequencies: ")
word_freq

Word Frequencies:

{'00': 2,
 '006': 1,
 '007': 5,
 '0s': 1,
 '10': 32,
 '100': 13,
 '1000': 6,
 '10000': 5,
 '100000': 2,
 '10000000': 1,
 '1000foot': 1,
 '1000page': 1,
 '1000th': 1,
 '1001': 1,
 '100acrewood': 1,
 '100foot': 1,
 '100th': 3,
 '101': 2,
 '10191': 1,
 '101yearold': 1,
 '1021': 1,
 '103': 1,
 '108yearold': 1,
 '10day': 1,
 '10million': 1,
 '10round': 1,
 '10s': 1,
 '10th': 4,
 '10year': 3,
 '10yearold': 17,
 '11': 8,
 '111': 3,
 '1114pm': 1,
 '1123': 1,
 '1138': 1,
 '117': 4,
 '118': 2,
 '118th': 1,
 '11th': 3,
 '11year': 2,
 '11yearold': 16,
 '11yearolds': 1,
 '12': 26,
 '120': 2,
 '1200': 3,
 '1215': 1,
 '1250': 1,
 '125000': 1,
 '12foot': 1,
 '12hour': 2,
 '12person': 1,
 '12step': 1,
 '12th': 5,
 '12thcentury': 1,
 '12year': 1,
 '12yearold': 23,
 '13': 23,
 '130': 1,
 '130000': 1,
 '1347': 1,
 '13th': 2,
 '13week': 1,
 '13yearold': 14,
 '14': 14,
 '140': 1,
 '1408': 1,
 '1415': 1,
 '142': 1,
 '1429': 1,
 '1492': 2,
 '14th': 4,
 '14thcentury': 1,
 '14year': 1,
 '14yearold': 11,
 '15': 36,
 '150': 4,
 '1500': 1,
 '150000': 1,
 '15000lire': 1,
 '150man': 1,
 '1536': 1,
 '155': 1,
 '1561': 1,
 '1562': 1,
 '1572': 1,
 '1596': 1,
 '15th': 4,
 '15thcentury': 1,
 '15year': 3,
 '15yearold': 9,
 '15yrs': 1,
 '16': 11,
 '1600': 1,
 '1600s': 1,
 '161': 1,
 '1630': 1,
 '165pound': 1,
 '1666': 1,
 '1681': 1,
 '1692': 1,
 '16th': 9,
 '16year': 4,
 '16yearold': 16,
 '16yearsold': 1,
 '17': 12,
 '1700s': 1,
 '1718': 1,
 '1743': 1,
 '1755': 1,
 '1787': 1,
 '17th': 8,
 '17thcentury': 4,
 '17yearold': 26,
 '18': 16,
 '1800': 1,
 '1800s': 3,
 '1809': 1,
 '1812': 1,
 '1818': 1,
 '1820': 1,
 '1820s': 2,
 '1825': 1,
 '1827': 1,
 '1830': 2,
 '1830s': 1,
 '1831': 1,
 '1836': 1,
 '1839': 1,
 '1840s': 2,
 '1841': 1,
 '1843': 2,
 '1844': 1,
 '1847': 1,
 '1850': 1,
 '1851': 1,
 '1856': 1,
 '1858': 1,
 '1859': 1,
 '1860': 1,
 '1860s': 2,
 '1862': 2,
 '1863': 3,
 '1865': 1,
 '1868': 1,
 '1870s': 1,
 '1874': 1,
 '1879': 3,
 '1880': 1,
 '1880s': 1,
 '1885': 1,
 '1889': 3,
 '1890': 1,
 '1890s': 7,
 '1892': 1,
 '18921973': 1,
 '1894': 1,
 '1897': 1,
 '18month': 1,
 '18th': 11,
 '18thcentury': 2,
 '18wheelers': 1,
 '18year': 1,
 '18yearold': 8,
 '19': 8,
 '1900': 3,
 '1900s': 3,
 '1901': 1,
 '1904': 1,
 '1905': 4,
 '1906': 1,
 '1909': 1,
 '1910': 1,
 '1910s': 1,
 '1912': 1,
 '1913': 1,
 '1914': 2,
 '1916': 3,
 '1918': 2,
 '1919': 1,
 '1920': 3,
 '1920s': 22,
 '1921': 1,
 '1922': 1,
 '1923': 1,
 '1924': 2,
 '1925': 1,
 '1926': 1,
 '1927': 4,
 '1928': 1,
 '1929': 1,
 '1930s': 24,
 '1931': 4,
 '1932': 1,
 '1933': 3,
 '1934': 1,
 '1935': 2,
 '1936': 2,
 '1937': 3,
 '1938': 3,
 '1939': 3,
 '1940': 10,
 '1940s': 11,
 '1941': 9,
 '1942': 10,
 '1943': 13,
 '1944': 11,
 '1945': 13,
 '1946': 2,
 '1947': 6,
 '1948': 1,
 '1949': 5,
 '1950': 5,
 '1950s': 29,
 '1951': 1,
 '1952': 2,
 '1953': 3,
 '1954': 1,
 '1955': 6,
 '1956': 6,
 '1957': 8,
 '1958': 6,
 '1959': 7,
 '1960': 4,
 '1960s': 34,
 '1961': 5,
 '1962': 11,
 '1963': 7,
 '1964': 7,
 '1965': 7,
 '1966': 4,
 '1967': 10,
 '1968': 6,
 '1969': 7,
 '1970': 5,
 '1970s': 37,
 '1971': 9,
 '1972': 8,
 '1973': 9,
 '1974': 5,
 '1975': 3,
 '1976': 8,
 '1977': 7,
 '1978': 10,
 '1979': 7,
 '1980': 13,
 '1980s': 37,
 '1980sera': 1,
 '1981': 5,
 '1982': 4,
 '1983': 5,
 '1984': 12,
 '1985': 6,
 '1986': 5,
 '1987': 9,
 '1988': 13,
 '1989': 5,
 '1990': 3,
 '1990s': 11,
 '1991': 7,
 '1992': 6,
 '1993': 6,
 '1994': 3,
 '1995': 5,
 '1996': 5,
 '1997': 3,
 '1998': 1,
 '1999': 9,
 '19th': 24,
 '19thcentury': 7,
 '19year': 1,
 '19yearold': 16,
 '1a': 2,
 '1st': 1,
 '20': 37,
 '200': 5,
 '2000': 9,
 '20000': 3,
 '200000': 4,
 '2000s': 1,
 '2000yearold': 1,
 '2001': 6,
 '2002': 2,
 '2003': 6,
 '2004': 4,
 '2006': 6,
 '2007': 2,
 '2008': 8,
 '2009': 8,
 '2010': 5,
 '2010s': 1,
 '2011': 4,
 '2012': 1,
 '2013': 5,
 '2014': 3,
 '2015': 6,
 '2016': 3,
 '2017': 3,
 '2018': 3,
 '2019': 4,
 '2020': 3,
 '2021': 1,
 '2022': 4,
 '20232024': 1,
 '2024': 3,
 '2025': 1,
 '2026': 1,
 '2027': 1,
 '2028': 2,
 '2029': 4,
 '2030': 1,
 '2033': 1,
 '2035': 2,
 '2036': 1,
 '2038': 1,
 '2039': 1,
 '2041': 1,
 '2044': 1,
 '2045': 1,
 '2046': 1,
 '2047': 1,
 '2048': 1,
 '2049': 3,
 '2051': 1,
 '2056': 1,
 '2058': 1,
 '2071': 1,
 '2078': 1,
 '208': 1,
 '2092': 1,
 '20gauge': 1,
 '20s': 3,
 '20something': 1,
 '20somethings': 1,
 '20th': 15,
 '20thcentury': 3,
 '20year': 2,
 '20yearold': 8,
 '21': 4,
 '2159': 1,
 '2176': 1,
 '21mile': 1,
 '21st': 9,
 '21stcentury': 1,
 '21yearold': 3,
 '22': 8,
 '2200': 1,
 '222': 1,
 '2257': 1,
 '22nd': 5,
 '22ndcentury': 1,
 '22year': 1,
 '22yearold': 1,
 '23': 3,
 '23rd': 1,
 '23yearold': 2,
 '24': 17,
 '24000': 1,
 '245': 1,
 '2455': 1,
 '248': 1,
 '24h': 1,
 '24hour': 2,
 '24yearold': 2,
 '25': 21,
 '25000': 2,
 '250000': 1,
 '2505': 1,
 '250pound': 1,
 '25foot': 1,
 '25th': 1,
 '25year': 1,
 '25yearold': 3,
 '26': 8,
 '26th': 1,
 '27': 5,
 '2707': 1,
 '27minute': 1,
 '27yearold': 2,
 '28': 7,
 '28th': 1,
 '28yearold': 1,
 '29': 5,
 '29yearold': 1,
 '30': 28,
 '300': 8,
 '3000': 1,
 '30000': 1,
 '300000': 1,
 '300poundnotsohottie': 1,
 '30s': 3,
 '30something': 1,
 '30th': 2,
 '30thbirthday': 1,
 '30yearold': 3,
 '30yearolds': 1,
 '31': 3,
 '310': 2,
 '31yearold': 1,
 '32': 2,
 '33': 1,
 '33year': 1,
 '34': 2,
 '35': 10,
 '35000': 1,
 '350000': 1,
 '35yearold': 3,
 '36': 1,
 '361': 1,
 '364': 1,
 '36hour': 1,
 '37': 2,
 '37yearold': 1,
 '38': 1,
 '38year': 1,
 '38yearold': 1,
 '39': 3,
 '3d': 1,
 '3k': 1,
 '40': 20,
 '400': 3,
 '40000': 2,
 '400000': 2,
 '4000foot': 1,
 '400mile': 1,
 '400pound': 1,
 '400yearold': 2,
 '40s': 3,
 '40somethings': 1,
 '40th': 3,
 '40year': 1,
 '40yearold': 5,
 '42': 1,
 '43': 1,
 '435': 1,
 '43rd': 1,
 '43yearold': 2,
 '44': 1,
 '45': 1,
 '45th': 1,
 '47': 4,
 '47year': 1,
 '48': 4,
 '480': 1,
 '49': 1,
 '49feet11inches': 1,
 '4th': 2,
 '4year': 1,
 '50': 11,
 '500': 7,
 '5000': 4,
 '50000': 5,
 '500000': 2,
 '500mile': 1,
 '500page': 1,
 '500pound': 1,
 '50foot': 1,
 '50ish': 1,
 '50s': 3,
 '50th': 3,
 '50yearold': 2,
 '51': 4,
 '51yearold': 1,
 '53': 1,
 '533': 2,
 '54': 2,
 '55': 1,
 '55yearold': 1,
 '57': 2,
 '571': 1,
 '59': 1,
 '59yearold': 1,
 '5year': 1,
 '5yearold': 1,
 '60': 6,
 '600': 3,
 '605pm': 1,
 '60s': 8,
 '60something': 1,
 '60th': 2,
 '60yearold': 1,
 '61': 1,
 '62': 1,
 '64': 2,
 '643pound': 1,
 '65': 1,
 '65th': 2,
 '66': 1,
 '67': 1,
 '68': 1,
 '69': 1,
 '6b': 1,
 '6meterdeep': 1,
 '6th': 2,
 '6thcentury': 1,
 '6time': 1,
 '6year': 1,
 '6yearold': 3,
 '6yearsold': 1,
 '70': 3,
 '700': 1,
 '707': 2,
 '70s': 5,
 '70yearold': 1,
 '72': 4,
 '72nd': 1,
 '747': 1,
 '74th': 1,
 '74yearold': 1,
 '75': 2,
 '750': 1,
 '7500': 1,
 '75th': 1,
 '76yearold': 1,
 '77': 1,
 '78': 1,
 '79': 1,
 '7th': 3,
 '7yearold': 2,
 '80': 3,
 '800': 1,
 '8000': 2,
 '800000': 1,
 '80s': 6,
 '80yearold': 1,
 '83': 1,
 '830': 1,
 '830000': 1,
 '84': 1,
 '85th': 1,
 '86': 1,
 '86yearold': 1,
 '8th': 1,
 '8year': 1,
 '8yearold': 9,
 '8yrold': 1,
 '90': 4,
 '900': 1,
 '9000': 1,
 '90s': 7,
 '90th': 2,
 '90yearold': 1,
 '911': 7,
 '92000': 1,
 '92nd': 1,
 '93': 1,
 '94': 1,
 '94minute': 1,
 '95': 2,
 '96': 1,
 '96quaked': 1,
 '98': 2,
 '99': 2,
 '9foottall': 1,
 '9th': 3,
 '9year': 1,
 '9yearold': 5,
 '9yearolds': 1,
 '9yearsold': 1,
 'a6': 1,
 'aa': 1,
 'aames': 1,
 'aang': 1,
 'aaron': 12,
 'aarons': 3,
 'aba': 3,
 'aback': 2,
 'abagnale': 1,
 'abahachi': 4,
 'abandon': 8,
 'abandoned': 69,
 'abandoning': 3,
 'abandonment': 1,
 'abandons': 9,
 'abberline': 1,
 'abbey': 3,
 'abbie': 2,
 'abbot': 1,
 'abbott': 2,
 'abby': 7,
 'abbys': 1,
 'abc': 3,
 'abdelkader': 1,
 'abdicates': 1,
 'abdication': 1,
 'abdomens': 1,
 'abduct': 8,
 'abducted': 35,
 'abducting': 2,
 'abduction': 5,
 'abductions': 4,
 'abductor': 2,
 'abductors': 2,
 'abducts': 4,
 'abdul': 1,
 'abe': 4,
 'abel': 2,
 'abelhammer': 1,
 'abernathy': 1,
 'abi': 1,
 'abide': 1,
 'abiding': 1,
 'abigail': 4,
 'abilities': 33,
 'ability': 36,
 'abkhazia': 1,
 'able': 81,
 'ablebodied': 1,
 'ableman': 1,
 'abnormal': 1,
 'abnormalities': 1,
 'abnormals': 1,
 'abo': 1,
 'aboard': 34,
 'abode': 2,
 'abolish': 2,
 'abolitionist': 2,
 'abominable': 1,
 'aboriginal': 3,
 'aborigines': 1,
 'abort': 1,
 'abortion': 2,
 'abortionist': 1,
 'abound': 1,
 'abra': 2,
 'abraham': 4,
 'abrahams': 2,
 'abrams': 1,
 'abrasive': 3,
 'abroad': 19,
 'abrupt': 4,
 'abruptly': 8,
 'absconded': 1,
 'abseil': 1,
 'absence': 11,
 'absent': 6,
 'absentee': 1,
 'absentia': 1,
 'absentminded': 3,
 'abshire': 1,
 'absolom': 1,
 'absolute': 3,
 'absolutely': 4,
 'absolution': 1,
 'absorb': 2,
 'absorbed': 1,
 'absorbing': 1,
 'absorbs': 1,
 'abstract': 1,
 'absurd': 5,
 'absurdist': 1,
 'absurdity': 1,
 'absurdly': 1,
 'abu': 2,
 'abundant': 1,
 'abuse': 24,
 'abused': 10,
 'abusers': 2,
 'abuses': 2,
 'abusing': 3,
 'abusive': 25,
 'abusiveness': 1,
 'abuzz': 1,
 'abysmal': 1,
 'acacircuit': 1,
 'academia': 1,
 'academic': 10,
 'academically': 2,
 'academies': 2,
 'academy': 36,
 'academys': 1,
 'acamagic': 1,
 'acapulcos': 1,
 'accedes': 1,
 'accelerate': 1,
 'accelerated': 1,
 'accelerates': 1,
 'accent': 1,
 'accept': 23,
 'acceptable': 1,
 'acceptance': 6,
 'accepted': 11,
 'accepting': 7,
 'accepts': 31,
 'access': 15,
 'accessories': 2,
 'accessory': 1,
 'accident': 151,
 'accidental': 15,
 'accidentally': 120,
 'accidently': 2,
 'accidentprone': 2,
 'accidents': 9,
 'accio': 3,
 'acclaim': 3,
 'acclaimed': 12,
 'acclimated': 2,
 'acclimates': 1,
 'accolades': 1,
 'accommodate': 1,
 'accommodating': 1,
 'accommodation': 1,
 'accommodations': 1,
 'accompanied': 27,
 'accompanies': 7,
 'accompany': 10,
 'accompanying': 5,
 'accomplice': 5,
 'accomplices': 5,
 'accomplish': 12,
 'accomplished': 12,
 'accomplishes': 1,
 'accomplishing': 2,
 'according': 9,
 'accordion': 1,
 'accosted': 1,
 'account': 17,
 'accountable': 2,
 'accountant': 17,
 'accounting': 1,
 'accounts': 7,
 'accruing': 1,
 'accumulate': 1,
 'accuracy': 1,
 'accurate': 2,
 'accursed': 1,
 'accusation': 2,
 'accusations': 5,
 'accuse': 3,
 'accused': 47,
 'accuser': 1,
 'accuses': 5,
 'accusing': 1,
 'accustomed': 2,
 'ace': 11,
 'acerbic': 1,
 'acheman': 1,
 'aches': 1,
 'achieve': 18,
 'achieved': 4,
 'achievements': 4,
 'achieves': 5,
 'achieving': 4,
 'aching': 1,
 'acidwashed': 1,
 'ackerman': 1,
 'acknowledge': 1,
 'acknowledged': 1,
 'acknowledgement': 1,
 'acme': 2,
 'acolytes': 1,
 'acorn': 1,
 'acorns': 1,
 'acoustic': 1,
 'acquaintance': 7,
 'acquaintances': 9,
 'acquainted': 4,
 'acquiescent': 1,
 'acquire': 2,
 'acquired': 3,
 'acquires': 1,
 'acquiring': 1,
 'acquisition': 1,
 'acquitted': 5,
 'acre': 5,
 'acres': 2,
 'acrobat': 1,
 'acronym': 1,
 'acronymobsessed': 1,
 'acrophobia': 2,
 'across': 175,
 'act': 70,
 'acting': 7,
 'action': 91,
 'actionadventure': 4,
 'actioncomedies': 1,
 'actionhero': 1,
 'actionpacked': 12,
 'actions': 35,
 'activated': 1,
 'activates': 2,
 'active': 12,
 'activism': 1,
 'activist': 15,
 'activists': 8,
 'activities': 25,
 'activity': 10,
 'actor': 45,
 'actors': 16,
 'actress': 48,
 'actresslover': 1,
 'acts': 24,
 'actual': 14,
 'actually': 55,
 'acute': 2,
 'ad': 16,
 'ada': 3,
 'adaline': 2,
 'adam': 28,
 'adama': 1,
 'adams': 9,
 'adapt': 10,
 'adaptation': 20,
 'adapted': 3,
 'adapting': 3,
 'adaption': 2,
 'adapts': 5,
 'add': 8,
 'addams': 3,
 'added': 3,
 'addict': 13,
 'addicted': 7,
 'addiction': 15,
 'addictions': 3,
 'addictive': 1,
 'addicts': 4,
 'addie': 2,
 'adding': 2,
 'addison': 6,
 'addition': 7,
 'additional': 4,
 'additionally': 2,
 'address': 4,
 'addresses': 2,
 'adds': 6,
 'adelaide': 3,
 'adele': 1,
 'adenoid': 1,
 'adept': 1,
 'adeptly': 1,
 'adepts': 1,
 'adherence': 1,
 'adjective': 1,
 'adjoining': 1,
 'adjourns': 1,
 'adjust': 11,
 'adjuster': 1,
 'adjusting': 2,
 'adjustment': 2,
 'adjusts': 1,
 'adler': 2,
 'adm': 1,
 'administering': 3,
 'administration': 5,
 'administrator': 1,
 'administrators': 2,
 'admiral': 8,
 'admiration': 4,
 'admired': 4,
 'admirer': 1,
 'admirers': 1,
 'admires': 2,
 'admiring': 2,
 'admissions': 1,
 'admit': 5,
 'admits': 5,
 'admittance': 1,
 'admitted': 6,
 'admittedly': 1,
 'admonition': 1,
 'adolescence': 8,
 'adolescent': 14,
 'adolescents': 1,
 'adolf': 12,
 'adolfo': 1,
 'adonis': 4,
 'adopt': 12,
 'adopted': 21,
 'adopting': 2,
 'adoption': 8,
 'adoptive': 10,
 'adopts': 12,
 'adorable': 10,
 'adorably': 1,
 'adoration': 5,
 'adored': 1,
 'adores': 2,
 'adoring': 2,
 'adorn': 2,
 'adrenaline': 3,
 'adrenalinecharged': 2,
 'adrenalinefueled': 3,
 'adrenalized': 1,
 'adri': 1,
 'adrian': 4,
 'adriana': 1,
 'adriano': 1,
 'adriatic': 1,
 'adrien': 5,
 'adrienne': 1,
 'adrift': 9,
 'adriÃ¡n': 1,
 'adulation': 1,
 'adult': 40,
 'adulterated': 1,
 'adulterous': 5,
 'adultery': 3,
 'adulthood': 18,
 'adultonly': 1,
 'adults': 25,
 'advance': 9,
 'advanced': 22,
 'advancement': 2,
 'advances': 7,
 'advancing': 2,
 'advantage': 20,
 'advantageous': 1,
 'advent': 2,
 'adventure': 181,
 'adventurefilled': 1,
 'adventureloving': 2,
 'adventurer': 6,
 'adventurers': 5,
 'adventurersurgeonrock': 1,
 'adventures': 69,
 'adventurous': 11,
 'adversaries': 7,
 'adversary': 6,
 'adverse': 1,
 'adversity': 3,
 'advertised': 1,
 'advertisement': 1,
 'advertisements': 1,
 'advertiser': 1,
 'advertising': 16,
 'advice': 31,
 'advise': 2,
 'advised': 5,
 'adviser': 5,
 'advisers': 3,
 'advises': 1,
 'advising': 1,
 'advisor': 3,
 'advisors': 1,
 'advocacy': 1,
 'advocate': 2,
 'advocates': 2,
 'adÃ¨les': 1,
 'aegis': 2,
 'aerial': 4,
 'aeroplane': 2,
 'aerosmith': 1,
 'aerospace': 1,
 'aesthetically': 1,
 'afar': 2,
 'affable': 4,
 'affair': 95,
 'affairs': 16,
 'affect': 6,
 'affected': 5,
 'affecting': 2,
 'affection': 9,
 'affectionate': 1,
 'affectionately': 2,
 'affections': 11,
 'affects': 2,
 'affiliation': 2,
 'affinity': 1,
 'affleck': 1,
 'afflicted': 4,
 'affliction': 5,
 'affluent': 8,
 'afford': 10,
 'afghan': 4,
 'afghani': 1,
 'afghanistan': 20,
 'afield': 1,
 'afire': 1,
 'afloat': 3,
 'afoot': 2,
 'afoul': 7,
 'afraid': 12,
 'afresh': 1,
 'africa': 42,
 'african': 34,
 'africanamerican': 26,
 'africanamericans': 1,
 'africas': 1,
 'afroamerican': 3,
 'afrodita': 1,
 'after': 2,
 'afterlife': 13,
 'aftermath': 30,
 'afternoon': 5,
 'afterschool': 1,
 'afterward': 1,
 'afterwards': 2,
 'again': 2,
 'against': 2,
 'againsttheclock': 1,
 'agamemnon': 3,
 'agartha': 1,
 'agatha': 2,
 'agatsuma': 1,
 'age': 80,
 'aged': 10,
 'ageing': 2,
 'ageless': 2,
 'agencies': 2,
 'agency': 39,
 'agencys': 2,
 ...}

## Bag of Bi-gram And Bag of Tri-gram

In [61]:
cv = CountVectorizer(ngram_range=(2,3))

X = cv.fit_transform(df['description_corpus'])

In [62]:
# vocab
print(list(cv.vocabulary_.items())[:20])

[('imprisoned 1940s', 196759), ('1940s double', 1224), ('double murder', 109757), ('murder wife', 264126), ('wife lover', 432946), ('lover upstanding', 238021), ('upstanding banker', 417388), ('banker andy', 32073), ('andy dufresne', 17717), ('dufresne begins', 113107), ('begins new', 37848), ('new life', 272718), ('life shawshank', 228340), ('shawshank prison', 351895), ('prison puts', 308026), ('puts accounting', 313483), ('accounting skills', 5697), ('skills work', 358105), ('work amoral', 438021), ('amoral warden', 16872)]

In [65]:
# vocab
print(list(cv.vocabulary_.items())[-20:])

[('aid nearby insurance', 11166), ('nearby insurance agent', 270066), ('insurance agent calls', 200808), ('agent calls tow', 10013), ('calls tow truckdriving', 55019), ('tow truckdriving boyfriend', 400027), ('truckdriving boyfriend vilmer', 406326), ('boyfriend vilmer slaughter', 47687), ('vilmer slaughter unfortunately', 422375), ('slaughter unfortunately vilmer', 358415), ('unfortunately vilmer sadistic', 414299), ('vilmer sadistic killer', 422373), ('sadistic killer mechanical', 337301), ('killer mechanical leg', 215169), ('mechanical leg introduces', 250165), ('leg introduces brother', 224986), ('introduces brother leatherface', 202147), ('brother leatherface rest', 50731), ('leatherface rest twisted', 223642), ('rest twisted family', 327036)]

In [66]:
len(cv.vocabulary_.items())

447501

## TF-IDF

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [70]:
tfidf = TfidfVectorizer()
tfidf.fit_transform(df['description_corpus']).toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [71]:
print(tfidf.idf_) # idf is fixed for each doc

[9.11182808 9.51729319 8.4186809  ... 9.51729319 9.51729319 9.11182808]

In [72]:
print(tfidf.get_feature_names_out())

['00' '006' '007' ... 'Ã©ric' 'Ã¶ztÃ¼rk' 'Ê»ohana']

In [73]:
# vocab
print(list(tfidf.vocabulary_.items())[:20])

[('imprisoned', 13614), ('1940s', 201), ('double', 8128), ('murder', 18255), ('wife', 29789), ('lover', 16262), ('upstanding', 28778), ('banker', 2533), ('andy', 1486), ('dufresne', 8383), ('begins', 2861), ('new', 18671), ('life', 15854), ('shawshank', 24502), ('prison', 21257), ('puts', 21643), ('accounting', 718), ('skills', 24969), ('work', 30025), ('amoral', 1408)]